---
- name: Refresh token and update env
  import_playbook: egi_refresh_token.yml
  when: env.checkin_env is defined

- hosts: all
  gather_facts: no

  tasks:
    - set_fact:
        os_env: "{{ env.os_env }}"
      when: env.os_env is defined  

    - name: Deregister node-exporter in Consul server
      shell: curl --request PUT http://{{ consul_server_address|quote }}:8500/v1/agent/service/deregister/{{ id }}-node-exporter
      when: consul_server_address != ""
      
    - name: Delete VM
      os_server:
        state: absent
        name: "{{ id }}"
      environment: "{{ os_env if os_env is defined }}"
